.about-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.about-content img {
    border-radius: 50%;
    margin-top: 10px;
}

.about-content ul {
    list-style: none;
    padding: 0;
}

.about-content li {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
